.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero img {
  width: 100%;
  max-width: 220px;
}

.hero h2 {
  margin: 0px 20px 40px;
  flex-shrink: 0;
}