/* Universal Stylesheet ------------------------- */

:root {
  --light: #ffffff;
  --dark: #0d0b25;
  --blue: #80b1e3;
  --teal: #009999;
  --green: #828835;
  --red: #660033;
  /* The following colors change in light mode */
  --bg: #0d0b25; 
  --bg-dim: #16142c;
  --bg-shadow: #00001e55;
  --text: #ffffff;
}

/* General Styles ------------------------------- */

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Quicksand, Helvetica, sans-serif;
  font-size: 18px;
}

main {
  /* subtract height of header and footer, pushes footer to bottom */
  min-height: calc(100vh - 300px);
}

h1 {
  /* font-size: 100%; */
}

h1, h2, h3 {
  font-family: 'Martian Mono', monospace;
  line-height: 1.4;
}

h2, h3 {
  font-size: 14px;
}

h3 {
  color: var(--blue);
}

.teal {
  color: var(--teal);
}

.green {
  color: var(--green);
}

.shadow1 {
  box-shadow: 0 0 5px var(--bg-shadow);
}

/* Button Styles --------------------------------- */



/* Header Styles --------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-dim);
  height: 50px;
  padding: 10px 5% 0px;
}

nav {
  font-family: 'Martian Mono', monospace;
  font-size: 12px;
}

nav a {
  padding: 6px 0px;
  margin: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: .2s;
}

nav a:hover, .active-link {
  border-bottom: 2px solid white;
}


/* Footer Styles --------------------------------- */

footer {
  height: 250px;
  background-color: var(--bg-dim);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 60px;
  margin: 6px;
}