.github-link {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  padding: 16px;
  border-radius: 8px;
  transition: .3s;
}

.github-link:hover {
  background-color: var(--green);
}