.info-container {
  display: grid;
  grid-template-columns: auto 40%;
  gap: 50px;
}

.btn-container2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin-top: 20px
}

.main-img {
  width: 100%;
  border-radius: 20px;
  border: 10px solid var(--light);
  margin: 20px 0; 
}

.grid-img {
  aspect-ratio: 4/3;
  background-size: cover;
  border-radius: 20px;
  border: 10px solid var(--light);
}

.tech {
  background-color: var(--teal);
  display: inline-block;
  margin: 2px;
  padding: 0 6px;
  border-radius: 10px;
  font-size: 14px;
}